<form [formGroup]="registerForm" (ngSubmit)="save(registerForm.value, registerForm.valid)" [ngClass]="{ 'invalid': !registerForm.valid }">
    <label>Firstname:</label>
    <input type="text" formControlName="firstname">
    <p class="error-message" *ngIf="registerForm.controls.firstname.errors && !registerForm.controls.firstname.pristine ">This field is required!</p>

    <label>Lastname:</label>
    <input type="text" formControlName="lastname">
    <p class="error-message" *ngIf="registerForm.controls.lastname.errors && !registerForm.controls.lastname.pristine ">This field is required!</p>
    <br/>
    <label>Full name:</label>
    <input type="text" formControlName="fullname">
    <p class="error-message" *ngIf="registerForm.controls.fullname.errors && !registerForm.controls.fullname.pristine">not a full name!</p>
    <br/>
    <label>url:</label>
    <input type="text" formControlName="url">
    <p class="error-message" *ngIf="registerForm.controls.url.errors && !registerForm.controls.url.pristine">not url</p>
    <br/>
    <label>Email:</label>
    <input type="text" formControlName="email">
    <p class="error-message" *ngIf="registerForm.controls.email.errors && !registerForm.controls.email.pristine ">This field is required!</p>

    <br/>
    <label>numberOfRoles:</label>
    <input type="text" formControlName="numberOfRoles">
    <!--<small [hidden]="myForm.controls.name.valid ||">
        Name is required (minimum 5 characters).
    </small>-->



    <button type="submit">Submit</button>
</form>

<div>
    <custom-counter [(counter)]="counterValue"></custom-counter>
    <p><code>counterValue = {{counterValue}}</code></p>
    <hr>
</div>

<button type="button" (click)="updateUrl();">update url</button>